@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-padding-top: 56px;
    background-color: #ffffff;
  }
  body {
    @apply bg-bg-alt text-text antialiased;
    overflow-x: hidden;
  }
  h1, h2, h3, h4 {
    letter-spacing: -0.02em;
  }
}
